*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
body{
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}
button{
	width: 100px;
	height: 40px;
	border-radius: 4px;
	font-size: 1.1em;
	outline: none;
}
button:active{
	background-color: #e6e6e6;
}
.button-group{
	position: absolute;
	top: 48px;
	right: 6px;
}
#attention{
	padding: 8px 0;
	text-align: center;
	font-size: 1.4em;
	font-weight: 200;
	background-color: red;
	color: white;
}
.wrap{
	max-width: 960px;
	margin: 0 auto; 
}

.gimme-nav{
	display: block;
}
header{
	height: 100vh;
	margin: 0 auto 0 0;
	background-color: rgba(0,0,0,.6);
	width: 20%;
}
.expandy{
	-webkit-animation: grow-wrap .5s ease forwards;
	animation: grow-wrap .5s ease forwards;
}
.shrinky{
	-webkit-animation: shrink-wrap .5s ease forwards;
	animation: shrink-wrap .5s ease forwards;
}
.greet{
	margin: inherit;
	font-size: .8em;
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
}
.floaty{
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
	-webkit-transform: translate(100px);
	transform: translate(100px);
}
.greet:hover{
	
}
.greet:hover .small-talk{
	
}
.greet:hover .name{
	/*-webkit-animation: shrink-wrap .1s linear forwards;
	animation: shrink-wrap .1s linear forwards;*/
}
.name{
	display: block;
	width: 20%;
	/*font-size: 2em;*/
	font-size: 2.4em;
}
.breaky{
	width: 100% !important;
	/*-webkit-animation: shrink-wrap .1s linear forwards;
	animation: shrink-wrap .1s linear forwards;*/
}
.small-talk{
	opacity: 0;
	-webkit-transition: visibility 1s, opacity 1s;
	transition: visibility 1s, opacity 1s;
	/*visibility: hidden;*/
}
.fadey{
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
	opacity: 1;
}
.grow{
	margin: 160px auto;
}

header .wrap{
	margin: 0 auto 0 0;

	/*transition: transform .5s ease;
	transform: translate(100px);*/
}
header .wrap:hover{
	/*transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: ease;
	transform: translate(0px);*/
}
header .wrap{
	/*outline: 3px green dashed;
	padding: 160px 0 160px 72px;*/
}
.asterisk{
	margin-top: 8px;
	font-style: italic;
}
.hide{
	display: none;
}
@-webkit-keyframes grow-wrap{
	from{
		width: 20%;
		background-color: rgba(0,0,0,.6);
		padding-top: 0;
	}
	to{
		width: 100%;
		background-color: rgba(0,0,0,0);
		padding-top: 200px;
	}
}
@keyframes grow-wrap{
	from{
		width: 20%;
		background-color: rgba(0,0,0,.6);
		padding-top: 0;
	}
	to{
		width: 100%;
		background-color: rgba(0,0,0,0);
		padding-top: 100px;
	}
}
@-webkit-keyframes shrink-wrap{
	from{
		width: 100%;
		background-color: rgba(0,0,0,0);
		padding-top: 100px;
	}
	to{
		width: 20%;
		background-color: rgba(0,0,0,.6);
		padding-top: 0;
	}
}
@keyframes shrink-wrap{
	from{
		width: 100%;
		background-color: rgba(0,0,0,0);
		padding-top: 100px;
	}
	to{
		width: 20%;
		background-color: rgba(0,0,0,.6);
		padding-top: 0;
	}
}
