*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
body{
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}
button{
	width: 100px;
	height: 40px;
	border-radius: 4px;
	font-size: 1.1em;
	position: absolute;
	top: 100px;
}
#attention{
	padding: 8px 0;
	text-align: center;
	font-size: 1.4em;
	font-weight: 200;
	background-color: red;
	color: white;
}
.wrap{
	max-width: 960px;
	margin: 0 auto; 
}
.greet{
	margin: inherit;
	font-size: .8em;
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
	-webkit-transform: translate(100px);
	transform: translate(100px);
}
.greet:hover{
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
	-webkit-transform: translate(0);
	transform: translate(0);
}
.greet:hover .small-talk{
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
	opacity: 0;
}
.greet:hover .name{
	-webkit-animation: shrink-wrap .1s linear forwards;
	animation: shrink-wrap .1s linear forwards;
}
.greet .name{
	display: block;
	/*font-size: 2em;*/
	font-size: 2.4em;
}
.greet .small-talk{
	-webkit-transition: visibility 1s, opacity 1s;
	transition: visibility 1s, opacity 1s;
	/*visibility: hidden;*/
	opacity: 1;
}
header{
	margin: 160px auto;
}
header .wrap{
	margin: 0 auto 0 0;

	/*transition: transform .5s ease;
	transform: translate(100px);*/
}
header .wrap:hover{
	/*transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: ease;
	transform: translate(0px);*/
}
header .wrap{
	/*outline: 3px green dashed;
	padding: 160px 0 160px 72px;*/
}
.asterisk{
	margin-top: 72px;
	font-style: italic;
}
@-webkit-keyframes shrink-wrap{
	from{
		width: 100%;
	}
	to{
		width: 20%;
	}
}
@keyframes shrink-wrap{
	from{
		width: 100%;
	}
	to{
		width: 20%;
	}
}